<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <title>Title</title>
</head>

<body>
    
    <div class="container">
        <nav id="nav">
            <input type="checkbox" id="check">
            <label for="check">
                <i class="fas fa-bars" id="btn"></i>
                <i class="fas fa-times active" id="cancel"></i>
            </label>
            <img class="img1" src="../../assets/images/layout/Layer%201%201.png" alt="">

            <ul class="ul">
                <li class="nav-li active">
                    <a href="navbar.html">Bosh sahifa</a>
                </li>
                <li class="nav-li">
                    <a href="auction.html">Birjada savdo qilish</a>
                </li>
                <li class="nav-li">
                    <a href="#">Yangiliklar</a>
                </li>
                <li class="nav-li">
                    <a href="#">Loyiha haqida</a>
                </li>
                <li class="nav-li">
                    <a href="#">
                        <i class="fab fa-telegram-plane"></i>
                    </a>
                </li>
                <li class="nav-li">
                    <a href="#">
                        <i class="fab fa-youtube"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!--    navbar ends -->
    </div>

    <main>
        <p class="clothe">
            <a href="#">
                <i class="fa fa-angle-left" style="color: #14C700"></i> 
                Orqaga qaytish
            </a>
        </p>

        <a class="display" href="#">Hafta mahsuloti</a>
        <div class="container_img">
            <div class="w3-center">
                <button class="w3-btn demo" onclick="currentDiv(1)">
                    <img class="w3-btn demo" src="../../assets/images/product/1.png">
                </button>
                <button class="w3-btn demo" onclick="currentDiv(2)">
                    <img class="w3-btn demo" src="../../assets/images/product/2.png">
                </button>
                <button class="w3-btn demo" onclick="currentDiv(3)">
                    <img class="w3-btn demo" src="../../assets/images/product/3.jpg">
                </button>
                <button class="w3-btn demo" onclick="currentDiv(4)">
                    <img class="w3-btn demo" src="../../assets/images/product/4.jpg">
                </button>
                <button class="w3-btn demo" onclick="currentDiv(5)">
                    <img class="w3-btn demo" src="../../assets/images/product/1.png">
                </button>
            </div>
            <div class="w3-content" style="width:100%;">
                <img class="mySlides" src="../../assets/images/product/1.png">
                <img class="mySlides" src="../../assets/images/product/2.png">
                <img class="mySlides" src="../../assets/images/product/3.jpg">
                <img class="mySlides" src="../../assets/images/product/4.jpg">
            </div>
        </div>

        <div class="product">
            <div class="text">
                <h2>Redmi Book 14’’</h2>
                <p>Redmibook Ryzen 4000 APU o'rnini bosuvchi <br>
                    10-avlod Intel protsessorlari bilan ishlaydi.</p>
                <div class="xarakteristika">
                    <h3>Xarakteristika</h3>
                    <ul>
                        <li><span> Processor: 10th generation Intel Core i5</span></li>
                        <li><span>GPU: NVIDIA ® MX250 2GB GDDR5</span></li>
                        <li><span>RAM: 2GB GDDR5 + 8GB DDR4</span></li>
                        <li><span>Display: 14" FHD Full HD screen</span></li>
                        <li><span>Storage: 256GB SATA SSD storage</span></li>
                        <li><span>OS system: Windows 10 Home</span></li>
                    </ul>
                </div>
                <div class="url"><a href="#"> <a href="#">Batafsil ma’lumot</a></a></div>
            </div>
        </div>
    </main>

    <div class="container_oclock">
        <p>Auksionda qatnashish</p>
        <table>
            <tr>
                <td class="a">Mahsulot nomi</td>
                <td class="b">Redme Book 14"</td>
            </tr>
            <tr>
                <td class="a">Auksion boshlangan vaqt</td>
                <td class="b">10:23,22-sentyabr,2021</td>
            </tr>
            <tr>
                <td class="a">Auksion tugaydigan vaqt</td>
                <td class="b">10:23,29-oktyabr,2021</td>
            </tr>
            <tr>
                <td class="a">Mahsulotning asl narxi</td>
                <td class="b"> 2999 MNG</td>
            </tr>
            <tr>
                <td class="a">Auksiondagi boshlang'ich narxi</td>
                <td class="b">312 MNG</td>
            </tr>
            <tr>
                <td class="a">Auksionda berilgan ohirgi narx</td>
                <td class="b">469 MNG</td>
            </tr>
        </table>
        <form>
            <input class="placeholder" type="text" placeholder="Narxni belgilang" /><br />
            <div>
                <label for="">
                    <input class="checkbox" type="checkbox" name="" id="" /> Men auksion
                    <a href="">shartlariga</a> roziman
                </label>
            </div>
            <button class="btn btn-secondary">Tasdiqlash</button>
        </form>
    </div>
    
    <script src="../../assets/js/main.js"></script>

</body>
</html>