@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&family=Roboto:wght@700&display=swap');

:root {
    font-family: "Manrope", "Roboto";
}
/*nav starts*/
nav {
    background: rgba(33, 33, 33, 1);
    height: 56px;
    width: 100%;
}
nav .img1 {
    width: 68.5px;
    height: 24px;
    position: absolute;
    top: 16px;
    left: 375px;
}
nav ul {
    float: right;
    margin: 0;
    padding: 0;
    margin-right: 385px;
    list-style-type: none;
}
nav ul .nav-li {
    display: inline-block;
    margin: 20px 32px;
}
nav ul .active a {
    color: rgba(20, 199, 0, 1);
}
nav ul .active {
    border-bottom: 4px solid rgba(20, 199, 0, 1);
    border-radius: 8px 8px 0px 0px;
    color: rgba(20, 199, 0, 1);
    padding-bottom: 13px;
}
nav ul .nav-li:last-child {
    margin: 0;
    margin-left: 16px;
}
nav ul .nav-li:nth-child(5) {
    margin: 0;
}
nav ul .nav-li:nth-child(5) {
    margin-left: 40px;
}
nav ul li a {
    position: relative;
    color: white;
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
}
label #btn,
label #cancel {
    color: white;
    /*font-size: 24px;*/
    width: 24px;
    height: 16px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
/* nav ends */
/*navbar media stats*/
@media (max-width: 1400px) {
    nav .img1 {
        position: absolute;
        top: 16px;
        left: 180px;
    }

    nav ul {
        float: right;
        margin-right: 60px;
    }
}

@media (max-width: 1118px) {
    nav .img1 {
        left: 92px;
    }
}

@media (max-width: 944px) {
    nav .img1 {
        left: 32px;
        top: 16px;
        width: auto;
    }

    nav ul li a {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 32px;
        color: rgba(61, 61, 61, 1);
        letter-spacing: 0.2px;
    }
}

@media (max-width: 860px) {
    nav .img1 {
        left: 32px;
        top: 16px;
        width: auto;
    }
    nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: fixed;
        top: 0;
    }

    label #btn {
        display: block;
    }

    label #btn, #cancel {
        margin-top: 20px;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 532px;
        background: rgba(255, 255, 255, 1);
        top: 56px;
        left: -100%;
        text-align: right;
        transition: all .5s;
    }

    nav ul li {
        display: block !important;
        line-height: 30px;
        padding-right: 32px;
    }

    nav ul li:nth-child(1) {
        padding-top: 96px;
    }

    nav ul .nav-li {
        margin: 0;
    }

    nav ul .active {
        border-bottom: none;
        border-radius: 8px 8px 0px 0px;
        color: rgba(20, 199, 0, 1);
        padding-bottom: 13px;
    }

    nav ul .nav-li:last-child {
        margin: 0;
        display: inline-block !important;
    }

    nav ul .nav-li:nth-child(5) {
        display: inline-block !important;
        margin: 0;
        padding: 0;
        padding-right: 24.4px;
    }

    label .btn {
        display: block;
    }

    nav ul li a {
        font-size: 20px;
    }

    #check:checked ~ ul {
        left: 0;
    }
    #check:checked ~ label #btn {
        display: none;
    }

    #check:checked ~ label #cancel {
        display: block;
    }
}

/*media ends*/


/* main  button img    */
main {
    background: #E5E5E5;
    width: 775px;
    height: auto;
    margin-right: 48px;
}
main .clothe {
    margin: 0;
    padding-top: 68px;
    padding-left: 376px;
}
main .clothe a{
    text-decoration: none;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #3D3D3D;
}
main .display{
    display: none;
}
.fa-angle-left {
    margin-right: 11px;
}
main .container_img {
    display: grid;
    width: 300px;
    grid-template-columns: repeat(2, 1fr);
    margin: 40px 30px 0px 375px;

}
.container_img .w3-content {
    width: 55px;
    height: 307px;
}
.container_img .w3-content img {
    width: 306px;
    height: 308px;
}
.container_img .w3-center {
    display: block;
    width: 69px;
    height: 307px;
    background: transparent;
}
.container_img .w3-center button {
    display: block;
    border: none;
    outline: none;
    width: 55px;
    height: 55px;
    margin-bottom: 8px;
    background: none;
    margin-right: 9px;
}
.container_img .w3-center button img {
    width: 55px;
    height: 55px;
    border-radius: 5px;
    margin-bottom: 8px;
    padding: 0;
    margin-right: 9px;
}
.container_img .active {
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 2px;
}

/* main  button img    */

/* prdect text  */
.product{
    margin-left: 375px;
    margin-top: 40px;
    padding-bottom: 100px;
}
.product .text h2{

    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    color: #212121;
}
.product .text p {
    margin-top: 8px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #212121;
}
.product .xarakteristika h3 {
    margin: 24px 0px 8px 0;
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #212121;

}
.product .xarakteristika ul {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    padding-left: 20px;
    margin-bottom: 16px;
}
.product .xarakteristika ul li {
    color:  #0C5177;
}
.product .xarakteristika ul li span {
    color: #212121;
}
.product .url a {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #14C700;
    padding-left: 0px;

}
/* prdect text ends */

@media (max-width: 860px){
    main {
        background: white;
        height: auto;
    }
    main .clothe {
       display: none;
    }
    main .clothe a{
     display: none;
    }
    main .display{
        display: block;
    }
    .fa-angle-left {
        margin-right: 0px;
    }

    main .container_img {
        display: grid;
        width: 300px;
        margin: 40px 30px 0px 175px;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;
    }
    .container_img .w3-content {
        width: 48px;
        height: 48px;
    }
    .container_img .w3-content img {
        width: 350px;
        height: 186px;
        display: none;
    }

    .container_img .w3-center {
        display: grid;
        width: 69px;
        height: 307px;
        background: transparent;
        grid-area: 2 / 3;
    }
    .container_img .w3-center button {
        border: none;
        outline: none;
        width: 55px;
        height: 55px;
        margin-bottom: 8px;
        background: none;
        margin-right: 9px;
    }
    .container_img .w3-center button img {
        width: 55px;
        height: 55px;
        border-radius: 5px;
        margin-bottom: 8px;
        padding: 0;
        margin-right: 9px;
    }
    /* main  button img */
}












/* auksion vaqti starts */

.container_oclock{
    float: right;
    padding-top: 128px;
    margin-top: -1000px;
    margin-right: 533px;
}
.container_oclock p {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.2px;
    color: #212121;
}
.container_oclock table {
    width: 567px;
    border-collapse: collapse;

}
.container_oclock table td {
    border-bottom: 1px solid #f1f4f4;
    padding: 24px 0px;
}
.container_oclock .a {
    text-align: left;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #525252;
}
.container_oclock .b {
    text-align: left;
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #212121;

}
.container_oclock form{
    color: unset;
}
.container_oclock form input {
    width: 463px;
    height: 72px;
}
.container_oclock .placeholder {
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #b8b8b8;
    padding: 24px;
}
.container_oclock .checkbox {
    border: 1px solid #a3a3a3;
    box-sizing: border-box;
    border-radius: 2px;
    width: 16px;
    height: 16px;
    margin-top: 20px;
    margin-bottom: 36px;
    margin-right: 8px;
}
.container_oclock label {
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #3d3d3d;
}
.container_oclock label a {
    color: #109e00;
    margin-bottom: 32px;
}
.container_oclock .product-info .button {

    border-radius: 4px;
    background: none;
    border: none;
    padding: 16px 65px;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}
.container_oclock .product-info .button a {
    color: #ffffff;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
}
.container_oclock .btn-primary {
    padding: 16px 65px;
    width: 306px;
    height: 56px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    letter-spacing: 0.2px;
    background-image: linear-gradient(88.4deg, #109e00 -0.24%, #14c700 113.01%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.container_oclock .btn-secondary {
    padding: 16px 65px;
    height: 56px;
    width: 306px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    background: linear-gradient(88.4deg, #109E00 -0.24%, #14C700 113.01%);
    border: none;
    outline: none;
    color: white;
    transition: background .3s ease-in;
}
.container_oclock .btn-pagin {
    height: 48px;
    display: inline-block;
    padding: 12px 20px;
    background: #ffffff;
    /* Line color */
    border: 1px solid #f1f4f4;
    border-radius: 2px;
    transition: background .4s ease;
}
.container_oclock .btn-pagin:hover,
.container_oclock .btn-pagin:focus {
    background-color: #0c5177;
    color: white;
}

@media screen and (max-width: 816px) {
    .container_oclock{
        float: left;
        padding-top: 64px;
        margin-top: 100px;
    }
    .container_oclock .btn {
        width: 302px;
    }

    .container_oclock .btn-pagin {
        height: 40px;
    }

    .container_oclock .btn-secondary {
        text-align: center;
        padding: 16px 65px;
        height: 56px;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */
        letter-spacing: 0.2px;
        background-image: linear-gradient(88.4deg, #109e00 -0.24%, #14c700 113.01%);
        color: white;
        transition: background .3s ease-in;
    }
}
/* auksion vaqti ends */