.product-image {
    display: grid;
    grid-template-columns: 55px 306px;
    grid-column-gap: 9px;

    .big-image {
        display: block;
        width: 306px;
        height: 308px;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            object-position: center;
        }
    }

    .thumbnails {
        width: 55px;
        height: 308px;
        overflow: hidden;

        .thumbnail {
            display: block;
            width: 55px;
            height: 55px;
            object-fit: cover;
            object-position: center;
            overflow: hidden;
            opacity: 0.6;
            border: 1px solid #F1F4F4;
            border-radius: 2px;
            margin-bottom: 8px;
            cursor: pointer;
            
            &.active {
                opacity: 1;
                border: 1px solid #CCCCCC;
            }

            &:hover {
                opacity: 1;
                border: 1px solid #CCCCCC;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}