.similar-products {
    background: #F9F9F9;
    padding-top: 88px;
    padding-bottom: 155px;
}

.similar-products .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 56px;
}

.similar-products .products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}

.similar-products .pagination {
    margin-top: 66px;
}

@media (max-width: 1200px) {
    .similar-products .products {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 992px) {
    .similar-products .products {
        grid-template-columns: 1fr 1fr;
    }
}