<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/components/Features block.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="name">
        <p>
             RedmiBook 14 o'ninchi avlod Intel Core i5 <br>
             protsessori bilan ishlaydi. Smartfon 14 ″ FHD Full <br>
             HD ekrani va 1920 x 1080, 5,75 mm chegara 1, <br>
             ekran nisbati 81,2%. Qurilmaning ekrani yuqori <br>
             aniqlikdagi porlashdan himoyalangan.
        </p>
        <p>
             Ushbu model kamera bilan ta'minlanmagan. <br>
             Smartfonga 46 Vt quvvatga ega (Min) batareya <br>
             quvvati, 65 Vt quvvatli adapter va Support 1C tez <br> 
             quvvatlanishi kiradi. <br> 
        </p>  
        <p>
             Telefon oldindan o'rnatilgan Windows 10 Home <br>
             Edition + Xiaomi aqlli qulfini ochishda ishlaydi <br>
             (Xiaomi Bracelet 3, Xiaomi Bracelet 3 NFC Edition <br>
             va Black Plus Bracelet). <br>
        </p>  
        <p> 
             RedmiBook 14 bitta rangli, oy nurida kumush <br>
             rangga ega. Bu USB 3.0 interfeysi x 2,5Gb / s <br>
             uzatish tezligi, ma'lumotlarni uzatishni <br>
             qo'llab-quvvatlash + USB 2.0 interfeysi x 1; 3,5 mm <br>
             interfeysi x 1 <br>
        </p>
    </div>
</body>
</html>