<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/featured-product-details.css">


</head>
<body>
<!-- product text starts-->
<div class="product">
    <div class="text">
        <h2>Redmi Book 14’’</h2>
        <p>Redmibook Ryzen 4000 APU o'rnini bosuvchi <br>
            10-avlod Intel protsessorlari bilan ishlaydi.</p>
            <div class="xarakteristika">
                <h3>Xarakteristika</h3>
                <ul>
                    <li><span> Processor: 10th generation Intel Core i5</span> </li>
                    <li><span>GPU: NVIDIA ®  MX250 2GB GDDR5</span>  </li>
                    <li><span>RAM: 2GB GDDR5 + 8GB DDR4</span>  </li>
                    <li><span>Display: 14" FHD Full HD screen</span> </li>
                    <li><span>Storage: 256GB SATA SSD storage</span> </li>
                    <li><span>OS system: Windows 10 Home</span> </li>
                </ul>

            </div>
                <div class="url"><a href="#"> <a href="#">Batafsil ma’lumot</a></a></div>
    </div>
</div>
<!-- product text ends-->
</body>
</html>