<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/main.css">
</head>

<body>
    <!-------------Product-info start--------------->
    <div class="product-info">
        <div class="info">
            <div class="name">
                <h4>Redmi Book 14"</h4>
            </div>
            <div class="detail">
                <p>Redmibook Ryzen 4000 APU o'rnini<br>
                    bosuvchi 10-avlod Intel protsessorlari<br>
                    bilan ishlaydi
                </p>
            </div>
            <hr>
        </div>
        
        <div class="items">
            <div class="o-price">
                <p>Mahsulotning asl narxi: <span>2469 MNG</span></p>
            </div>
            <div class="timer">
                <div>
                    <img src="../assets/images/product/Group.svg" alt="">
                </div>
                <div>
                    <p>02:23:35</p>
                </div>
            </div>
            <div class="auc-prices">
                <div class="start-price">
                    <h6>312 <span> MNG.</span></h6>
                    <p>Boshlang'ich auksion narxi</p>
                </div>
                <div class="current-price">
                    <h6>578 <span> MNG.</span></h6>
                    <p>Joriy auksion narxi</p>
                </div>
            </div>
            <div class="button">
                <a href="#">Auksionda qatnashish</a>
            </div>
        </div>
    </div>
    <!-------------Product-info start--------------->
</body>

</html>