* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

.btn {
  padding: 16px 65px;
  width: 306px;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  /* White */
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.2px;
  background-image: linear-gradient(88.4deg, #109e00 -0.24%, #14c700 113.01%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.btn-secondary {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.2px;
  background-image: linear-gradient(88.4deg, #109e00 -0.24%, #14c700 113.01%);
  color: white;
}

.btn-prev {
  width: 97px;
  height: 48px;

  background: #ffffff;
  /* Line color */
  border: 1px solid #f1f4f4;
  border-radius: 2px;
  color: #666666;
}

@media screen and (max-width: 816px) {
  .btn {
    width: 302px;
  }
}
