.pagin-block{
height: 68px;
width: 378px;
border-radius: 4px;
padding: 10px;
display: flex;
align-items: center;
justify-content: start;

}
.btn-pagin{
    margin-right: 16px;
}
.btn-pagin:last-child{
    margin-right: 0;
}
@media screen and (max-width:816px){
    .pagin-block{
        width: 350px;
        height: auto;
        padding: 0;
    }
}