.pign-block{
height: 68px;
width: 378px;
border-radius: 4px;
padding: 10px;
display: flex;
align-items: center;
justify-content: start;

}
.btn-pign{
    margin-right: 16px;
}
.btn-pign:last-child{
    margin-right: 0;
}
@media screen and (max-width:816px){
    .pign-block{
        width: 350px;
        height: auto;
        padding: 0;
    }
}