main {
    background: silver;
    width: 43%;
    height: 100vh;
}

main .clothe {
    margin: 0;
    padding-top: 55px;
    padding-left: 180px;

}
main .clothe a{
    text-decoration: none;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #3D3D3D;
}
.fa-angle-left {
    margin-right: 11px;
}

main .container_img {
    display: grid;
    width: 300px;
    grid-template-columns: repeat(2, 1fr);
    margin: 40px 30px 0px 175px;

}

.container_img .w3-content {
    width: 55px;
    height: 307px;
}

.container_img .w3-content img {
    width: 306px;
    height: 308px;
}

.container_img .w3-center {
    display: block;
    width: 69px;
    height: 307px;
    background: transparent;
}

.container_img .w3-center button {
    display: block;
    border: none;
    outline: none;
    width: 55px;
    height: 55px;
    margin-bottom: 8px;
    background: none;
    margin-right: 9px;
}

.container_img .w3-center button img {
    width: 55px;
    height: 55px;
    border-radius: 5px;
    margin-bottom: 8px;
    padding: 0;
    margin-right: 9px;
}

.container_img .active {
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 2px;
}