@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&family=Roboto:wght@700&display=swap');

:root {
    font-family: "Manrope", "Roboto";
}

/*nav starts*/
nav {
    background: rgba(33, 33, 33, 1);
    height: 56px;
    width: 100%;
}

nav .img1 {
    width: 68.5px;
    height: 24px;
    position: absolute;
    top: 16px;
    left: 375px;
}

nav ul {
    float: right;
    margin: 0;
    padding: 0;
    margin-right: 385px;
    list-style-type: none;
}

nav ul .nav-li {
    display: inline-block;
    margin: 20px 32px;
}

nav ul .active a {
    color: rgba(20, 199, 0, 1);
}

nav ul .active {
    border-bottom: 4px solid rgba(20, 199, 0, 1);
    border-radius: 8px 8px 0px 0px;
    color: rgba(20, 199, 0, 1);
    padding-bottom: 13px;
}

nav ul .nav-li:last-child {
    margin: 0;
    margin-left: 16px;
}

nav ul .nav-li:nth-child(5) {
    margin: 0;
}

nav ul .nav-li:nth-child(5) {
    margin-left: 40px;
}

nav ul li a {
    position: relative;
    color: white;
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
}


label #btn,
label #cancel {
    color: white;
    /*font-size: 24px;*/
    width: 24px;
    height: 16px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* nav ends */




/*medi stats*/
@media (max-width: 1400px) {
    nav .img1 {
        position: absolute;
        top: 16px;
        left: 180px;
    }

    nav ul {
        float: right;
        margin-right: 60px;
    }
}

@media (max-width: 1118px) {
    nav .img1 {
        left: 92px;
    }
}

@media (max-width: 944px) {
    nav .img1 {
        left: 32px;
        top: 16px;
        width: auto;
    }

    nav ul li a {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 32px;
        color: rgba(61, 61, 61, 1);
        letter-spacing: 0.2px;
    }
}

@media (max-width: 860px) {
    nav .img1 {
        left: 32px;
        top: 16px;
        width: auto;
    }
    nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: fixed;
        top: 0;
    }

    label #btn {
        display: block;
    }

    label #btn, #cancel {
        margin-top: 20px;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 532px;
        background: rgba(255, 255, 255, 1);
        top: 56px;
        left: -100%;
        text-align: right;
        transition: all .5s;
    }

    nav ul li {
        display: block !important;
        line-height: 30px;
        padding-right: 24px;
        padding-right: 32px;
    }

    nav ul li:nth-child(1) {
        padding-top: 96px;
    }

    nav ul .nav-li {
        margin: 0;
    }

    nav ul .active {
        border-bottom: none;
        border-radius: 8px 8px 0px 0px;
        color: rgba(20, 199, 0, 1);
        padding-bottom: 13px;
    }

    nav ul .nav-li:last-child {
        margin: 0;
        display: inline-block !important;
    }

    nav ul .nav-li:nth-child(5) {
        display: inline-block !important;
        margin: 0;
        padding: 0;
        padding-right: 24.4px;
    }

    label .btn {
        display: block;
    }

    nav ul li a {
        font-size: 20px;
    }

    #check:checked ~ ul {
        left: 0;
    }

    #check:checked ~ nav .img1 {
        background: rgba(33, 33, 33, 1) !important;
        display: none;
    }


    #check:checked ~ label #btn {
        display: none;
    }

    #check:checked ~ label #cancel {
        display: block;
    }
}

/*media ends*/