<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../assets/css/main.css">
  <title>Document</title>
</head>

<body>
  <div class="auction-form">
    <h1 class="title">Auksionda qatnashish</h1>
    <table>
      <tr>
        <th>Mahsulot nomi</th>
        <td>Redme Book 14"</td>
      </tr>
      <tr>
        <th>Auksion boshlangan vaqt</th>
        <td>10:23,22-sentyabr,2021</td>
      </tr>
      <tr>
        <th>Auksion tugaydigan vaqt</th>
        <td>10:23,29-oktyabr,2021</td>
      </tr>
      <tr>
        <th>Mahsulotning asl narxi</th>
        <td> 2999 MNG</td>
      </tr>
      <tr>
        <th>Auksiondagi boshlang'ich narxi</th>
        <td>312 MNG</td>
      </tr>
      <tr>
        <th>Auksionda berilgan ohirgi narx</th>
        <td>469 MNG</td>
      </tr>
    </table>
    <form action="#" method="POST">
      <input class="price" name="price" type="text" placeholder="Narxni belgilang" />
      <div>
        <label for="#agreement">
          <input class="checkbox" name="agreement" type="checkbox" id="agreement" />
          <span>Men auksion <a href="#">shartlariga</a> roziman</span>
        </label>
      </div>
      <button class="btn btn-primary">Tasdiqlash</button>
    </form>
  </div>
</body>

</html>