<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Document</title>
</head>

<body>
    <div class="product-text">
        <h2 class="title">Redmi Book 14’’</h2>
        <p class="excerpt">Redmibook Ryzen 4000 APU o'rnini bosuvchi 10-avlod Intel protsessorlari bilan
            ishlaydi.</p>
        <div class="features">
            <h3 class="title">Xarakteristika</h3>
            <ul class="list">
                <li class="item">Processor: 10th generation Intel Core i5</li>
                <li class="item">GPU: NVIDIA ® MX250 2GB GDDR5</li>
                <li class="item">RAM: 2GB GDDR5 + 8GB DDR4</li>
                <li class="item">Display: 14" FHD Full HD screen</li>
                <li class="item">Storage: 256GB SATA SSD storage</li>
                <li class="item">OS system: Windows 10 Home</li>
            </ul>
        </div>
        <div>
            <a class="action" href="#">Batafsil ma’lumot</a>
        </div>
    </div>
</body>

</html>