<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/css/main.css">
</head>

<body>
    <div class="product-card">
        <ul class="grey">
            <li>Brand</li>
            <li>Redmi</li>
        </ul>
        <ul>
            <li>Product Dimensions	</li>
            <li>28.6 x 6.2 x 45.5 cm; 2.61 Kilograms</li>
        </ul>
        <ul class="grey">
            <li>Batteries</li>
            <li>1 Lithium Polymer batteries required. (included)</li>
        </ul>
        <ul>
            <li>Item model number</li>
            <li>NX.HS5EM.001</li>
        </ul>
        <ul class="grey" >
            <li>Manufactugirer</li>
            <li>Redmi</li>
        </ul>
        <ul>
            <li>Series</li>
            <li>A315-56-33U4</li>
        </ul>
        <ul  class="grey">
            <li>Color</li>
            <li>Black</li>
        </ul>
        <ul>
            <li>Standing screen display size</li>
            <li>15.6 Inches</li>
        </ul>
        <ul  class="grey">
            <li>Screen Resolution</li>
            <li>1280 x 720</li>
        </ul>
        <ul>
            <li>Processor Brand</li>
            <li>Intel</li>
        </ul>
        <ul>
            <li>Processor Type</li>
            <li>Core i5</li>
        </ul>
        <ul class="grey">
            <li>Processor Speed</li>
            <li>3.4 GHz</li>
        </ul>
        <ul>
            <li>Processor Count</li>
            <li>2</li>
        </ul>
        <ul>
            <li>RAM Size</li>
            <li>4 GB</li>
        </ul>
    </div>
</body>

</html>