<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/css/main.css">
</head>

<body>
    <div class="product-image">
        <div class="thumbnails">
            <img class="thumbnail active" src="../../assets/images/product/1.png">
            <img class="thumbnail" src="../../assets/images/product/2.png">
            <img class="thumbnail" src="../../assets/images/product/3.jpg">
            <img class="thumbnail" src="../../assets/images/product/4.jpg">
            <img class="thumbnail" src="../../assets/images/product/4.jpg">
        </div>
        <div class="big-image">
            <img id="big-image" src="../../assets/images/product/1.png">
        </div>
    </div>
</body>

</html>