<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <title>Mango Page</title>
</head>

<body>
    <div class="product_box">
        <img src="../assets/images/product/camera.jpg">
        <p class="product_info">Logitech 960-001252 C920S Pro HD Webcam Premium quality</p>
        <div class="product_details">
            <p class="product_cost">156</p>
            <p class="product_mango">MNG</p>
            <p class="product_sale"><del>347 MNG</del></p>
        </div>
    </div>
</body>

</html>