<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <title>Mango Page</title>
</head>

<body>
    <a href="#">
        <article class="product">
            <div class="img">
                <img src="../../assets/images/product/mouse.jpg" />
            </div>
            <div class="details">
                <p class="info">
                    Logitech MX Master 3 <br />
                    Wireless Mouse Black edition
                </p>
                <div>
                    <p class="price">244 <sup>MNG</sup></p>
                    <p class="old-price"><del>357 MNG</del></p>
                </div>
            </div>
        </article>
    </a>
</body>

</html>