<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>progect-details-extended</title>
    <link rel="stylesheet" href="../assets/css/layout/product-details-extended.css"/>
</head>
<body>
<div class="container">
    <p>Auksionda qatnashish</p>
    <table>
        <tr>
            <td class="a">Mahsulot nomi</td>
            <td class="b">Redme Book 14"</td>
        </tr>
        <tr>
            <td class="a">Auksion boshlangan vaqt</td>
            <td class="b">10:23,22-sentyabr,2021</td>
        </tr>
        <tr>
            <td class="a">Auksion tugaydigan vaqt</td>
            <td class="b">10:23,29-oktyabr,2021</td>
        </tr>
        <tr>
            <td class="a">Mahsulotning asl narxi</td>
            <td class="b"> 2999 MNG</td>
        </tr>
        <tr>
            <td class="a">Auksiondagi boshlang'ich narxi</td>
            <td class="b">312 MNG</td>
        </tr>
        <tr>
            <td class="a">Auksionda berilgan ohirgi narx</td>
            <td class="b">469 MNG</td>
        </tr>
    </table>
    <form>
        <input class="placeholder" type="text" placeholder="Narxni belgilang"/><br/>
        <div>
            <label for="">
                <input class="checkbox" type="checkbox" name="" id=""/> Men auksion
                <a href="">shartlariga</a> roziman
            </label>
        </div>
        <button class="btn btn-secondary">Tasdiqlash</button>
    </form>
</div>
</body>
</html>
