<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/main.css" />
    <title>Product Block</title>
</head>

<body>
    <section class="similar-products">
        <div class="container">
            <header class="header">
                <h2>O’xshash mahsulotlar</h2>
            </header>
            <div class="products">
                <a href="#">
                    <article class="product">
                        <div class="img">
                            <img src="../../assets/images/product/mouse.jpg" />
                        </div>
                        <div class="details">
                            <p class="info">
                                Logitech MX Master 3 <br />
                                Wireless Mouse Black edition
                            </p>
                            <div>
                                <p class="price">244 <sup>MNG</sup></p>
                                <p class="old-price"><del>357 MNG</del></p>
                            </div>
                        </div>
                    </article>
                </a>
                <a href="#">
                    <article class="product">
                        <div class="img">
                            <img src="../../assets/images/product/camera.jpg" />
                        </div>
                        <div class="details">
                            <p class="info">
                                Logitech 960-001252 <br />
                                C920S Pro HD Webcam <br />
                                Premium quality
                            </p>
                            <div>
                                <p class="price">156 <sup>MNG</sup></p>
                                <p class="old-price"><del>347 MNG</del></p>
                            </div>
                        </div>
                    </article>
                </a>
                <a href="#">
                    <article class="product">
                        <div class="img">
                            <img src="../../assets/images/product/Watch.jpg" />
                        </div>
                        <div class="details">
                            <p class="info">
                                Apple Watch Series 3 <br />
                                Space Gray Aluminum Case
                            </p>
                            <div>
                                <p class="price">1123 <sup>MNG</sup></p>
                                <p class="old-price"><del>3312 MNG</del></p>
                            </div>
                        </div>
                    </article>
                </a>
                <a href="#">
                    <article class="product">
                        <div class="img">
                            <img src="../../assets/images/product/Airpods_pro.jpg" />
                        </div>
                        <div class="details">
                            <p class="info">
                                Apple <br />
                                Airpods Pro
                            </p>
                            <div>
                                <p class="price">567 <sup>MNG</sup></p>
                                <p class="old-price"><del>1240 MNG</del></p>
                            </div>
                        </div>
                    </article>
                </a>
                <a href="#">
                    <article class="product">
                        <div class="img">
                            <img src="../../assets/images/product/Projector.jpg" />
                        </div>
                        <div class="details">
                            <p class="info">
                                Festnight SD40 LCD Projector <br />
                                LED 1080P Home Theater <br />
                                5000 Lum
                            </p>
                            <div>
                                <p class="price">953 <sup>MNG</sup></p>
                                <p class="old-price"><del>1420 MNG</del></p>
                            </div>
                        </div>
                    </article>
                </a>
                <a href="#">
                    <article class="product">
                        <div class="img">
                            <img src="../../assets/images/product/Playstation.jpg" />
                        </div>
                        <div class="details">
                            <p class="info">
                                Sony PlayStation 4 Pro <br />
                                1TB Console Black version <br />
                                with console
                            </p>
                            <div>
                                <p class="price">7321 <sup>MNG</sup></p>
                                <p class="old-price"><del>8987 MNG</del></p>
                            </div>
                        </div>
                    </article>
                </a>
                <a href="#">
                    <article class="product">
                        <div class="img">
                            <img src="../../assets/images/product/Microphone.jpg" />
                        </div>
                        <div class="details">
                            <p class="info">
                                Blue Yeti Nano Premium USB <br />
                                Mic for Recording & streaming
                            </p>
                            <div>
                                <p class="price">2422 <sup>MNG</sup></p>
                                <p class="old-price"><del>4987 MNG</del></p>
                            </div>
                        </div>
                    </article>
                </a>
                <a href="#">
                    <article class="product">
                        <div class="img">
                            <img src="../../assets/images/product/Microphone.jpg" />
                        </div>
                        <div class="details">
                            <p class="info">
                                Blue Yeti Nano Premium USB <br />
                                Mic for Recording & streaming
                            </p>
                            <div>
                                <p class="price">2422 <sup>MNG</sup></p>
                                <p class="old-price"><del>4987 MNG</del></p>
                            </div>
                        </div>
                    </article>
                </a>
            </div>
            <div class="pagination">
                <button class="btn btn-pagin active item">1</button>
                <button class="btn btn-pagin item">2</button>
                <button class="btn btn-pagin item">3</button>
                <button class="btn btn-pagin item">Keyingi</button>
            </div>
        </div>
    </section>
</body>

</html>